@inject MudTheme _theme

<h3>Caminho</h3>

<p>Caminho exportação de ponto</p>
<p>Caminho exportação de tempos</p>
<p>Caminho padrão chamados de atendimento</p>
<p>Caminho padrão backlog do azure</p>

@code {

}
