@inject MudTheme _theme

<h3>Geral</h3>

<p>[_] Ligar junto do computador</p>
<p>[_] Fazer o primeiro registro de ponto automaticamente ao ligar o cronômetro pela primeira vez no dia</p>
<p>[X] Auto exportar os pontos ao abrir o programa no primeiro dia útil do mês</p>
<p />
<p>Exibir mensagens de confirmação:</p>
<p>Fechar o programa [_] </p>
<p>Exportações - [_] Criação, [_] Sucesso de criação</p>
<p>Cronômetros - [_] Criação, [_] Sucesso de criação, [_] Exclusão, [_] Sucesso de exclusão, [_] Abandono/finalização, [_] Sucesso de abandonar/finalizar</p>
<p>Marca Ponto - [_] Criação, [_] Sucesso de criação</p>
<p />
<p>Modos ([_]compacto, [X]normal, [_]expandido, [_]legendado)</p>
<p />
<p>[5] Limite de cronômetros simultâneos (0 para ilimitado)</p>
<p>[X] Excluir cronometro automaticamente ao abandonar/finalizar</p>
<p>[60] Quanto tempo precisa haver entre registros de ponto para não considerar batida repetida (em segundos)</p>
<p />
<p>Auto-save on actions ([X]criar,[_]finalizar/abandonar,[_]excluir,[X]marcar ponto)</p>
<p>[1] tempo de auto-save (em minutos)</p>
<p />
<p>[Restaurar padrões]</p>

@code {

}
