<h3>Tema</h3>

<p>[_]Modo escuro</p>
<p>Temas: [X]Defaut, [_]Padrão mudBlazor, [_]TealLove,[_] Monocromático</p>
<p>Crie seu prórpio tema</p>@*??? fazer isso ou não:*@

@code {
    [Parameter]
    public Configuracao? janela { get; set; }
}
