@inject MudTheme _theme

<h3>Padrão de Cronometros</h3>

<p>CRUD</p>

<p>pré-cadastrados: DEV, Revisor, Homologador, Suporte?</p>

<p>comportamentos: play padrão, pause padrão, stop padrão</p>

<p>Contadores: ordem, conta tempo dentrou ou fora, tipoContador, nome</p>
<p>nome: vem do contador, mas pode alterar</p>
<p>conta tempo: vem marcado se for de trabalho, desmarcado se for de interrupção, mas permite trocar</p>

@code {

}
